@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --border-color: #000 transparent #000 transparent;
}

html[class='dark'] {
  --border-color: #fff transparent #fff transparent;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fafafa;
}

.dark {
  background-color: #2b3945;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: var(--border-color);
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
